body {
    background-color: #e6e6e6;
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
    padding-left: 16px;
    font-family: 'Abel', sans-serif;
    font-size: 20px;
}

.container {
    padding-left: 0;
    padding-right: 0;
}
.navbar.top-header {
    height: 90px;
}


.logo {
    position: absolute;
    z-index: 1000;
}

.main-header {
    margin-top: 50px;
    font-family: 'Abel', sans-serif;
    font-size: 50px;
}

