body {
    background-color: #e6e6e6;
    margin: 0;
    padding: 0;
}

p {
    margin-left: 10px;
}

li {
    list-style: none;
    padding-left: 10px;
    font-family: 'Abel', sans-serif;
    font-size: 20px;
}

h1  {
    font-family: 'Anton';
    /*font-size: 64px;*/
}

.container {
    padding-left: 0;
    padding-right: 0;
}
.navbar.top-header {
    height: 90px;
}


.logo {
    position: absolute;
    z-index: 1000;
}

.company-header {
    margin-top: 50px;
    font-family: 'Abel', sans-serif;
    font-size: 50px;
}

.city-header {
    font-family: 'Anton', sans-serif;
}